<!DOCTYPE html>
<html>
<body>
<h3>{{ status.name }}</h3>

<ul>
  <li>Plan - {{ status.plan }}</li>
  <li>Last - {{ status.last_event }}</li>
  <li>Hue - {{ status.current.hue }}</li>
  <li>Sat - {{ status.current.saturation }}</li>
  <li>Bri - {{ status.current.brightness }}</li>
  <li>Kel - {{ status.current.kelvin }}</li>
</ul>

<form>
  <ul>
    <li>
      Hue: <input type="text" id="hue" name="hue">
    </li>
    <li>
      Sat: <input type="text" id="sat" name="sat">
    </li>
    <li>
      Bri: <input type="text" id="bri" name="bri">
    </li>
    <li>
      K: <input type="text" id="k" name="k">
    </li>
    <li>
      <button type="submit" formaction="/manual/{{ status.name }}" formmethod="post">Set Manual Colour</button>
    </li>
  </ul>
</form>

<form><button type="submit" formaction="/manual/{{ status.name }}/reset" formmethod="post">Reset Plan</button></form>


</body>
</html>

