{% extends "base.html" %}

{% block title %}Lifx Status{% endblock %}

{% block head %}
<script>
    $(document).ready(function() {
      $('#sform').submit(function(e){
          e.preventDefault();
          $.ajax({
              url:'/party/start',
              contentType:'application/x-www-form-urlencoded',
              type:'post',
              traditional:true,
              success:function(){
                location.reload();
              }
          });
      });

      $('#eform').submit(function(e){
          e.preventDefault();
          $.ajax({
              url:'/party/end',
              contentType:'application/x-www-form-urlencoded',
              type:'post',
              traditional:true,
              success:function(){
                location.reload();
              }
          });
      });
    });
</script>
{% endblock %}

{% block content %}
<h3>Lifx Status</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Plan</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
{% for bulb in list %}
    <tr>
      <td>{{ bulb.name }}</td>
      <td>{{ bulb.plan }}</td>
      <td>
        <form><button class="btn btn-info"  type="submit" formaction="/manual/{{ bulb.name }}" formmethod="get">Manage</button></form>
      </td>

    </tr>
{% endfor %}
  </tbody>
</table>

<form id="sform">
<button type="submit" class="btn btn-success">Start Party!</button>
</form>

<form id="eform">
<button type="submit" class="btn btn-danger">End Party :(</button>
</form>

{% endblock %}
